{% extends "layout.html" %}
{% block body %}
        <div class="jumbotron-textcenter">
        <h3>Hakkımda</h3>
        <hr>
        <p>
        Merhaba,ben Ekrem Akbuga.21/02/1987 tarihinde Mersin ilinde doğdum.2010 yılında Zonguldak Karaelmas
        Üniversitesi Fen Edebiyat Fakültesi Matematik Bölümü'nden mezun oldum.2011 yılında Kocaeli Üniversitesi
        Eğitim Fakültesi'nde Pedagojik Formasyon aldım.2014 yılında Çanakkale 18 Mart Üniversitesi Fen Bilimleri
        Enstitüsü Matematik Anabilim Dalı'nda Tezli Yüksek Lisans eğitimimi tamamladım.Bir süredir Python Yazılım
        Dili ile uğraşıyorum.Evliyim ve 1 çocuğum var.
        </p>
        <hr>

{% endblock %}